*{
    margin: 0;
    padding: 0;
    color: $font_color;
    font-family: 'Figtree', sans-serif;
}

#main-screen {
    padding: {
        left: 200px;
        right: 200px;
        top: 20px;
    }
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#body {
    padding: {
        top: 20%;
        bottom: 20%;
    }
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    height: auto;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}